{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Pessoas</title>

    
    
</head>
<body style="background-color: #025C78; text-align: center; color: white;">
    <h1>Sistema de Cadastro</h1>

    <img src="{% static 'img/logo.png' %}" width="100" alt="">

    <form action="cadastrar" method="get">
    <button style="background-color: white;color: #025C78; height: 30px;border-radius: 9px; border: none; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">Cadastrar</button>
    </form>

    <table align="center">
        <tr>
          <th style="border-bottom: 1px solid white;">Nome </th>
          <th style="border-bottom: 1px solid white;">Sobrenome </th>
          <th style="border-bottom: 1px solid white;">Idade</th>
          <th style="border-bottom: 1px solid white;">Data de nascimento</th>          
          <th style="border-bottom: 1px solid white;">Email</th>
          <th style="border-bottom: 1px solid white;">Apelido</th>
          <th style="border-bottom: 1px solid white;">Opções</th>
        </tr>
        
        {% for pessoa in object_list %} 
        <tr>
            <td style="border-bottom: 1px solid white;">{{ pessoa.nome_pessoa }}</td>
            <td style="border-bottom: 1px solid white;">{{ pessoa.sobrenome }}</td>
            <td style="border-bottom: 1px solid white;">{{ pessoa.idade }}</td>
            <td style="border-bottom: 1px solid white;">{{ pessoa.data_nascimento }}</td>
            <td style="border-bottom: 1px solid white;">{{ pessoa.email }}</td>
            <td style="border-bottom: 1px solid white;">{{ pessoa.apelido }}</td>
            <td>
                <a style="color: black;" href="{% url 'editar' pessoa.pk %}">Editar</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td>Nenhum campos registrados</td>
        </tr>
        {% endfor %}

    </table>
</body>
</html>