{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Pessoas</title>

    
    
</head>
<body style="background-color: #025C78; text-align: center; color: white;">
    <h1>Sistema de Cadastro</h1>

    <img src="{% static 'img/logo.png' %}" width="100" alt="">

    <form action="cadastrar" method="get">
    <button style="background-color: white;color: #025C78; height: 30px;border-radius: 9px; border: none; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">Cadastre-se</button>
    </form>

    <table >
        <tr>
          <th>Nome Completo</th>
          <th>Idade</th>
          <th>Data de nascimento</th>          
          <th>Email</th>
          <th>Apelido</th>
          <th>Observação</th>
        </tr>
        
        {% for pessoa in object_list %} 
        <tr>
            <td>{{ pessoa.nome_pessoa }}</td>
        </tr>
        {% empty %}
        <tr>
            <td>Nenhum campos registrados</td>
        </tr>
        {% endfor %}

    </table>
</body>
</html>